.highcharts-data-label-connector {
  stroke-dasharray: 2, 2;
  stroke: #151a1f;
  opacity: 0.3;
  stroke-width: 2px;
}

.bg-blue-700 {
    background-color: #F46A35;
}

.bg-blue-900 {
    background-color: #F46A35;
}